<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>filter table</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


<nav class="header">ВКБ №1</nav>

<div id="priceapp" style="width: 100%;">



<button href="#" @click.prevent="filtersShowHide" class="slidepanel__btn-open">
	<img src="img/filter.svg">
</button>


<div class="price-wrap">
<div class="slidepanel">
	<div class="filters" >
		<fieldset class="filter__fieldset">
			<label for="min">Фильтр по наименованию</label>
			<input class="filter__input" type="text" placeholder="Введите название" name="" v-model="query">
		</fieldset>	
	

		<range-slider
			:min-val = "minVal"
			:max-val = "maxVal"
		></range-slider>	
		<special-filter
			:specialgroups = "specialItems"
		></special-filter>
		<checkbox-filter
			:groups = "servicesGroups"
		></checkbox-filter>
		<clear-filters></clear-filters>
	</div>
	<a href="#" @click.prevent="filtersShowHide" class="slidepanel__btn slidepanel__btn-close"></a>
</div>
<datagrid
	:query = "query"
	:columns = "columns"
	:services-groups = "servicesGroups"
	:services = "services"
	:min-val = "minVal"
	:max-val = "maxVal"
	:sort-column = "sortKey"
></datagrid>
</div>

</div>

<template id="dataGridTempl">
	<table style="width:100%">
	<thead>
	  <tr>
	    <th v-for="(column, index, key) in columns" @click="orderBy(column.key)" :class="{active: column.key == sortKey}">{{column.name}}
	    	<span class="table__head-arrow" :class="arrowSortingClass(column.key)"></th>
	  </tr>
	 </thead>	

	 <tbody v-if="servicesGroups.length == 0">
	 	<tr v-for="service in resultArr">
	        <td v-for="column in columns">
	          {{service[column.key]}}
	        </td>
	 	 </tr>
	 </tbody>
	  <tbody v-if="servicesGroups.length > 0" v-for="servgroup in servicesGroups">
	 	<tr>
	 		<th v-if="groupByCategory(servgroup.id).length > 0" class="tgroup" colspan="5" scope="colgroup">{{servgroup.name}}</th>
	 	</tr>	

	 	<tr v-for="service in groupByCategory(servgroup.id)">
	        <td v-for="(column, index) in columns" :key="index" :val="service.id">
	          {{service[column.key]}}
	        </td>
	 	 </tr>
	  </tbody>
	  <tbody v-if="noRecord">
	  	<tr>
	 		<th class="table--noresult" colspan="5" scope="colgroup">Позиции не найдены</th>
	 	</tr>
	  </tbody>
	</table>
</template>

<template id="rangeSliderTempl">
	<div class="range">

			<fieldset class="filter__fieldset">
				<label for="min">Мин. цена</label>
				<input class="filter__input" type="number" name="min" v-model="min" @input="changeLeftInput">
			</fieldset>
			<fieldset class="filter__fieldset">
				<label for="max">Макс. цена</label>
			<input class="filter__input" type="number" name="max" v-model="max" @input="changeRightInput">
			</fieldset>
			
		<div class="slider" >
			<div class="slider__range" :style="rangeStyle"></div>
			<span class="slider__handle slider__handle-l" :style="handleLeftStyle"  @mousedown="dragLeft" @touchstart="dragLeft"></span></span>
			<span class="slider__handle slider__handle-r" :style="handleRightStyle" @mousedown="dragRight" @touchstart="dragRight"></span></span>
		</div>

	</div>
</template>

<template id="clearBtn">
	<button @click="clearFilters" class="btn clear-btn">Очистить фильтр</button>
</template>

<template id="checkboxFilter">
	<div class="serv-group__wrap">
	<div class="serv-group__title">Услуги по группам</div>
	<div class="serv-group">
		<div v-for="(group, index) in groups" class="group__item">
			<label class="group__item-lb">
				<input type="checkbox" name="" :value=group.id class="filter__chk" v-model="checkedGroup" @change="changeFilter">
				<span>{{group.name}}</span>
			</label>
		</div>

	</div>
		<div class="serv-group__count">Выбранно: {{countElement}}</div>
	<div>
</template>


<template id="specialFilter">
	<div class="serv-group__wrap">
	<div class="serv-group__title">Востребованные услуги</div>	
	<div class="serv-group">
		<div v-for="(special, index) in specialgroups" class="group__item">
			<label class="group__item-lb">
				<input type="checkbox" name="" :value="special.items" class="filter__chk" v-model="specialGroup" @change="changeSpecialFilter">
				<span>{{special.name}}</span>
			</label>
		</div>

	</div>
		<div class="serv-group__count">Выбранно: {{countElement}}</div>
	<div>
</template>


<script src="js/vue.js"></script>
<!-- <script src="js/axios.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="js/priceapp.js"></script>
</body>
</html>